@media  screen and (max-width: 767px){

    .wrapper{
        width: 300px;
        height: 450px;
    }
    .header{
        width: 300px;

    } 
    .content{
        float: left;
        width: 200px;

    }  
    .side{
        width: 100px;

    }
    .content-top-right{
        width: 75px;

    }
    .content-top-left{
        width: 125px;

    }
    .content-top-left-top{
        width: 125px;

    }
    .content-top-left-bottom{
        width: 125px;

    }
    .content-bottom{
        width: 200px;

    }

}

@media  screen and (max-width: 479px) {
    .wrapper{
        width: 150px;

    }
    .header{
        width: 150px;

    }
    .side{
        width: 150px;
        height: 100px;

    }
    .content-top-right{
        width: 150px;
        height: 100px;

    }
    .content{
        float: none;
        width: 150px;

    }
    .content-top-left{
        width: 150px;
        
    }
    .content-top-left-top{
        width: 150px;
        height: 40px;

    }
    .content-top-left-bottom{
        width: 150px;
        height: 100px;

    }
    .content-bottom{
        width: 150px;
        height: 100px;

    }
    
    .footer{
        width: 150px;

    }

}