@media  screen and (max-width: 479px){
    body{
        width: 200px;

    }
    .wrapper{
        width: 200px;

    }
    .contens-header{
        width: 200px;
        height: 200px;

    }
    .header{
        width: 200px;
        height: 200px;

    }
    .header-inner{
        width: 60px;
        height: 160px;
        margin-top: 20px;
        margin-right: 70px;

    }
    .left{
        width: 200px;
        height: 100px;

    }
       /*ここからright要素*/

    .content-right{
        width: 200px;
        height: 200px;
        float: left;

    }
    .right{
        width: 200px;
        height: 200px;
        float: left;

    }
    .right-top{
        margin-top: 20px;
        margin-left: 30px;
    
    }
    .right-center{
        margin-top: 10px;
        margin-left: 30px;

    }
    .right-bottom{
        margin-top: 10px;
        margin-left: 30px;

    }
    .footer{
        width: 200px;
        height: 100px;
        clear: left;

    }


}